@import '../../common/colors.scss';

.checkout-container {
  width: 70%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-text-color;

    .header-block {
      text-transform: capitalize;
      width: 22%;
      text-align: center;
      color: $secondary-text-color;

      &:first-child {
        text-align: start;
      }
      &:last-child {
        width: 12%;
        text-align: end;
      }
    }
  }
  .total-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
  }
}
