@import "../../common/colors.scss";

.button-container {
  min-width: 150px;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: $main-color;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: $main-color;
    border: 1px solid $main-color;
  }

  &.special {
    background-color: $lighter-color;
    color: $main-color;
    border: 1px solid $main-color;
    font-weight: 400;

    &:hover {
      background-color: $lighter-color;
      border: 1px solid $main-color;
      font-weight: bold;
    }
  }

  &.inverted {
    background-color: white;
    color: $main-color;
    border: 1px solid $main-color;

    &:hover {
      background-color: $main-color;
      color: white;
      border: none;
    }
  }
}
