@import "../../common/colors.scss";

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    .logo {
      height: 70px;
      width: auto;
    }
  }
  .tabs-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  end;

    .tab {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
