@import "../../common/colors.scss";

.categories-container {
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    padding: 15px;
    justify-content: space-between;
  }