@import "../../common/colors.scss";

.sign-in-container {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  width: 450px;
  margin-bottom: 25px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    .inverted {
      margin-left: 15px;
    }
  }
}
