@import "../src/common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unbounded", sans-serif;
}

html,
body {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  background: $primary-color;
}

a {
  text-decoration: none;
  color: black;
}

.root-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin: auto;
  align-self: center;
  align-items: center;
}
